.Rproj.user
.Rhistory
*.mod
obj/
run/
modules/
rosetta/
bin/
build/
man/
.DS_Store
*~
a.out
*.o
*.gz
*.ipynb_checkpoints
*.pdf
pearsont3
#autocross/NAMESPACE
redfitx
Icon*
Icon?
*.so
*.dSYM
.vscode/
.devcontainer/
REDFIT-X-result*